

.Car-Nav {
    background-color: #1B2631;
}


.clink {
    margin-left: 3px;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 0;
  
    
    

}

.clink:hover {
    display: flex;
    border: 1px solid yellow;


}